# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.env

# VCS
.git/
.gitignore

# IDE/editor
.vscode/
.idea/
.qodo/

# Caches
*.egg-info/
.dist/
build/
dist/
.cache/

# Local data
scores.db

# OS files
.DS_Store
Thumbs.db
